/* Error: 1.65em and 1rem have incompatible units.
 *     ,
 * 156 |             padding-left: (_size(element-height) * 0.6) + 1rem;
 *     |                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets/sass/components/_form.scss 156:18  @import
 *   assets/sass/main.scss 53:10               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 1.65em and 1rem have incompatible units.\a     \2577 \a 156 \2502              padding-left: (_size(element-height) * 0.6) + 1rem;\d\a     \2502                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets/sass/components/_form.scss 156:18  @import\a   assets/sass/main.scss 53:10               root stylesheet";
}
